In [3]:
import pandas as pd
import numpy as np

In [79]:
PATH_ROSTER = "D:\\Run Analysis\\blob_storage\\roster\\35th_2021.xlsx"
PATH_SAL = "D:\\Run Analysis\\blob_storage\\driver_salary\\processed\\35th_2021.xlsx"
sal_df = pd.read_excel(PATH_SAL)
# Employee_ID	Hours	 Gross 	Super
roster_df = pd.read_excel(PATH_ROSTER)

sal_df.Employee_ID = sal_df.Employee_ID.str.lower()
sal_df['total'] = sal_df.Gross + sal_df.Super
count_pri_dr = roster_df.groupby(['Primary_employeeID'])['Date'].count().rename("pri_dr")

count_sec_dr = roster_df.groupby(['Secondary_employeeID'])['Date'].count().rename("sec_dr")
count_dr_shifts = pd.concat([count_pri_dr, count_sec_dr], axis=1).fillna(0)
count_dr_shifts['Total'] = count_dr_shifts.pri_dr + count_dr_shifts.sec_dr

count_dr_shifts = count_dr_shifts['Total'].reset_index().rename(columns={"index" : "Employee_ID", "Total" : "total_shifts"})   
sal_shifts_df = sal_df.merge(count_dr_shifts, how="left", on="Employee_ID")

sal_shifts_df['per_shift_pay'] = sal_shifts_df.total / sal_shifts_df.total_shifts
sal_shifts_df['per_shift_pay'] = sal_shifts_df.total / sal_shifts_df.total_shifts

sal_per_shift = sal_shifts_df[["Employee_ID", "per_shift_pay"]]

sal_per_shift

   Employee_ID  per_shift_pay
0     swansgia     479.690000
1     swbranat     228.958333
2     swbraric     341.832500
3     swburlei     307.227500
4     swdinvie     305.250000
5     swedwben     328.550000
6     swfiejih     421.240000
7     swgooowe            NaN
8     swhearay     398.447500
9       swhewg     599.360000
10      swliqi     288.940000
11    swlocbra     613.355000
12    swmittai     431.345000
13     swnevpj     318.415714
14    swpetand     220.935714
15     swrigda     468.582000
16    swrobgar     385.694000
17      swrobg            NaN
18    swsinvic     283.484286
19    swtaujul     559.792500
20    swtubjoh     721.860000
21    swtupfek     428.896000
22    swvisgre     357.102000
23    swwarrob     421.305000
24    swwhinei     369.597500
25        ir12     235.006667
26      irdeaz     312.020000
27        ir02     602.442500
28        ir20     273.765000

In [80]:
roster_df.assign(pri_sal = lambda df : df.Primary_employeeID )

AttributeError: 'Series' object has no attribute 'per_shift_pay'

In [82]:
roster_df

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client,Note
0,2021-09-01,NIGHT RUNS,subcon1,NaN,ALAN WALDEN,NaN,RLC,NaN,NaN,CQ 64 LO,NaN,NaN,NaN
1,2021-09-01,DAY RUNS,swpetand,swhearay,ANDY,RAY,RLK,NaN,NaN,XO62AB,XN71FD,NaN,NaN
2,2021-09-01,DAY RUNS,swpetand,NaN,ANDY PETERSON,NaN,BR1,NaN,NaN,XN 75 OS,NaN,NaN,NaN
3,2021-09-01,DAY RUNS,swedwben,NaN,BEN EDWARDS,NaN,SWG,NaN,NaN,XN 72 MK,NaN,NaN,NaN
4,2021-09-01,DAY RUNS,swlocbra,NaN,BRAD LOCKE,NaN,HYG,RL5,RL6/RLP,CF 71 JM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2021-09-07,DAY RUNS,swliqi,NaN,RICKY LI,NaN,NIWPR1,NaN,NaN,XPL 658,NaN,VISY,NaN
108,2021-09-07,DAY RUNS,swmittai,NaN,TAIT MITCHELL,NaN,BR3,NaN,NaN,XN 06 OJ,NaN,NaN,NaN
109,2021-09-07,DAY RUNS,swsinvic,ir12,VICTOR,LUKE,RLD,NaN,NaN,CL 02 TB,NaN,NaN,NaN
110,2021-09-07,DAY RUNS,swsinvic,ir12,VICTOR,LUKE,RLJ,NaN,NaN,CL O2 TB,NaN,NaN,NaN
111,2021-09-07,DAY RUNS,irdeaz,NaN,ZAC DEAN,NaN,RL7,NaN,NaN,XN 44 QZ,NaN,NaN,NaN

In [48]:
count_dr_shifts

          pri_dr  sec_dr  Total
ir02         3.0     1.0    4.0
ir12         2.0     4.0    6.0
irdeaz       5.0     0.0    5.0
subcon1      3.0     0.0    3.0
swansgia     5.0     0.0    5.0
swbranat     5.0     1.0    6.0
swbraric     4.0     0.0    4.0
swburlei     4.0     0.0    4.0
swdinvie     5.0     0.0    5.0
swedwben     5.0     0.0    5.0
swfiejih     2.0     1.0    3.0
swhearay     2.0     2.0    4.0
swhewg       1.0     0.0    1.0
swliqi       4.0     0.0    4.0
swlocbra     4.0     0.0    4.0
swmittai     4.0     0.0    4.0
swnevpj      7.0     0.0    7.0
swpetand     7.0     0.0    7.0
swrigda      5.0     0.0    5.0
swrobgar     5.0     0.0    5.0
swsinvic     7.0     0.0    7.0
swtaujul     4.0     0.0    4.0
swtubjoh     1.0     0.0    1.0
swtupfek     5.0     0.0    5.0
swvisgre     5.0     0.0    5.0
swwarrob     4.0     0.0    4.0
swwhinei     4.0     0.0    4.0
ir20         0.0     6.0    6.0

In [54]:
count_dr_shifts = count_dr_shifts['Total']

KeyError: 'Total'

   Employee_ID  Hours    Gross   Super    total
0     swansgia  55.10  2278.21  120.24  2398.45
1     swbranat  42.05  1270.39  103.36  1373.75
2     swbraric  30.65  1252.59  114.74  1367.33
3     swburlei  41.42  1134.14   94.77  1228.91
4     swdinvie  40.70  1403.06  123.19  1526.25
5     swedwben  49.35  1543.96   98.79  1642.75
6     swfiejih  32.65  1133.48  130.24  1263.72
7     swgooowe   0.00  1504.00    0.00  1504.00
8     swhearay  54.00  1502.09   91.70  1593.79
9       swhewg  17.85   520.32   79.04   599.36
10      swliqi  33.00  1061.65   94.11  1155.76
11    swlocbra  52.75  2337.26  116.16  2453.42
12    swmittai  43.00  1597.65  127.73  1725.38
13     swnevpj  52.50  2097.70  131.21  2228.91
14    swpetand  32.05  1434.14  112.41  1546.55
15     swrigda  48.35  2217.46  125.45  2342.91
16    swrobgar  53.85  1823.50  104.97  1928.47
17      swrobg   4.50   236.28    0.00   236.28
18    swsinvic  54.60  1879.42  104.97  1984.39
19    swtaujul  47.75  2150.68   88.49  2239.17
20    swtubjoh  17.70   674.76   47.10   721.86
21    swtupfek  56.50  2029.41  115.07  2144.48
22    swvisgre  41.50  1643.36  142.15  1785.51
23    swwarrob  48.50  1580.25  104.97  1685.22
24    swwhinei  44.40  1375.84  102.55  1478.39
25        ir12  48.00  1309.28  100.76  1410.04
26      irdeaz  45.50  1450.67  109.43  1560.10
27        ir02  38.00  2190.70  219.07  2409.77
28        ir20  44.25  1542.84   99.75  1642.59

In [64]:
# count_dr_shifts = count_dr_shifts.rename('total_shifts').reset_index().rename(columns={"index" : "Employee_ID"})





# .reset_index().rename(columns={"index" : "Employee_ID"})

TypeError: Index(...) must be called with a collection of some kind, 'Employee_ID' was passed

   Employee_ID  Hours    Gross   Super    total  Total_shifts
0     swansgia  55.10  2278.21  120.24  2398.45           5.0
1     swbranat  42.05  1270.39  103.36  1373.75           6.0
2     swbraric  30.65  1252.59  114.74  1367.33           4.0
3     swburlei  41.42  1134.14   94.77  1228.91           4.0
4     swdinvie  40.70  1403.06  123.19  1526.25           5.0
5     swedwben  49.35  1543.96   98.79  1642.75           5.0
6     swfiejih  32.65  1133.48  130.24  1263.72           3.0
7     swgooowe   0.00  1504.00    0.00  1504.00           NaN
8     swhearay  54.00  1502.09   91.70  1593.79           4.0
9       swhewg  17.85   520.32   79.04   599.36           1.0
10      swliqi  33.00  1061.65   94.11  1155.76           4.0
11    swlocbra  52.75  2337.26  116.16  2453.42           4.0
12    swmittai  43.00  1597.65  127.73  1725.38           4.0
13     swnevpj  52.50  2097.70  131.21  2228.91           7.0
14    swpetand  32.05  1434.14  112.41  1546.55           7.0
15     swrigda  48.35  2217.46  125.45  2342.91           5.0
16    swrobgar  53.85  1823.50  104.97  1928.47           5.0
17      swrobg   4.50   236.28    0.00   236.28           NaN
18    swsinvic  54.60  1879.42  104.97  1984.39           7.0
19    swtaujul  47.75  2150.68   88.49  2239.17           4.0
20    swtubjoh  17.70   674.76   47.10   721.86           1.0
21    swtupfek  56.50  2029.41  115.07  2144.48           5.0
22    swvisgre  41.50  1643.36  142.15  1785.51           5.0
23    swwarrob  48.50  1580.25  104.97  1685.22           4.0
24    swwhinei  44.40  1375.84  102.55  1478.39           4.0
25        ir12  48.00  1309.28  100.76  1410.04           6.0
26      irdeaz  45.50  1450.67  109.43  1560.10           5.0
27        ir02  38.00  2190.70  219.07  2409.77           4.0
28        ir20  44.25  1542.84   99.75  1642.59           6.0