In [84]:
import pandas as pd
import numpy as np
import re

In [98]:
def reomve_semiColon(df):
    if ";" in df["BU Number"]:
#     if type(df["BU Number"]) != "int":
#         print(df["BU Number"])
        result = df["BU Number"].split(";",1)[0]
        return result
    else:
        return df["BU Number"]

In [139]:
IPATH_CORRIGO =  "C:\\Users\\Gordon.Tang\\Desktop\\dataManagement\\ds\\corrigo\\Corrigo-CustomerList.xlsx"
IPATH_OFF_PROP = "C:\\Users\\Gordon.Tang\\OneDrive - JLL\Property OFF\\master_Properties_deactivated.xlsx"

df_corrigo = pd.read_excel(IPATH_CORRIGO)
# df_prop = pd.read_excel(IPATH_OFF_PROP)

# df_corrigo_1 = df_corrigo[["Customer Number", "BU Number"]]
# df_corrigo_2 = df_corrigo[df_corrigo.duplicated(subset="BU Number")]

# df_corrigo_2 = df_corrigo_2.dropna(subset=["BU Number"])
# df_corrigo_2["BU Number"] = df_corrigo_2["BU Number"].astype(np.int64)


# df_prop["BU Number"] = df_prop["BU Number"].astype(str)
# df_prop["BU Number"] = df_prop.apply(reomve_semiColon, axis=1)
# df_prop["BU Number"] = df_prop["BU Number"].astype(np.int64)


# df_prop["BU Number"] = df_prop["BU Number"].str.replace('(?<=;)',"",regex=False)

# df_prop = df_prop.dropna(subset=["BU Number"])
# df_prop["BU Number"] = df_prop["BU Number"].astype(np.int128)

In [104]:
df = pd.merge(df_prop, df_corrigo_2, how="left", on="BU Number")

In [121]:
df_prop["BU Number"].dtype
df_corrigo_2["BU Number"].dtype

dtype('int64')

In [118]:
df_corrigo_2.loc[df_corrigo_2["BU Number"] == 4849801502]

Empty DataFrame
Columns: [Customer Number, BU Number]
Index: []

In [137]:
# df_prop["BU Number"]
df_corrigo[df_corrigo["BU Number"].eq(4849800580)]

Empty DataFrame
Columns: [Property Number, Property Name, Customer Number, Customer Name, BU Number, Address 1, Address 2, City, State/Prov., Zip/Postal Code, Country]
Index: []

In [138]:
df_corrigo[df_corrigo["Property Name"].str.contains("155 Nineteenth")]

,Property Number,Property Name,Customer Number,Customer Name,BU Number,Address 1,Address 2,City,State/Prov.,Zip/Postal Code,Country
186,PRY00504,QLD - ELANORA - 155 Nineteenth Avenu,187,PATHOLOGY - QML,4849800504,155 Nineteenth Avenue,NaN,ELANORA,QLD,4221.0,AU