In [1]:
import pandas as pd
import numpy as np

In [16]:
MONTH_FILE = "Aug2021.csv" 
PATH_NEW_DATA = f"D:\Run Analysis\waste_reports\\{MONTH_FILE}"
data_df = pd.read_csv(PATH_NEW_DATA, dtype={'Customer_Number': np.float64})
# data_df
# data_df[data_df.Customer_Number.eq(1345)].Customer_Number.shape[0]

data_df[data_df.Customer_Number.eq(4399)]

    Customer_Number    Address_1  General  Cardboard  Comingle  Organics
37           4399.0  289 King St     3.96        NaN       NaN       NaN