In [1]:
import pandas as pd
import numpy as np

In [2]:
def inactive_cus(df):
    if "inactive" in df["Customer Name"]:
        return "inactive"
    elif "TEMP CLOSED COVID-19" in df["Customer Name"]:
        return "tem_close"
    else:
        return "active"

def join_addr(df):
    if df.unknown == 'None'
        print('hello world')
#     ' - '.join()

In [12]:
IPATH_corrigo = "C:\\Users\\Gordon.Tang\\Desktop\\IFM\\corrigo_property_list\\CustomerList.xlsx"
IPATH_feed = "C:\\Users\\Gordon.Tang\\Desktop\\IFM\\datafeed\\JLLFEED_19-Jan-2022.xlsx"
df_corrigo = pd.read_excel(IPATH_corrigo)

df_feed = pd.read_excel(IPATH_feed)
df_corrigo.Status = df_corrigo.apply(inactive_cus, axis=1)
df_corrigo.sort_values(by="Status")

df_1 = df_corrigo["Property Name"].str.split(" - ", expand=True)

df_1.columns = ['state', 'suburb', 'addr_1', 'unknown']
df_1.

# sort_values(by='unknown')

     state           suburb                addr_1          unknown
1679   QLD              AYR                    2a  10a Chippendale
3116    SA       Royal Park                  1202    1210 Old Port
4169    SA       Royal Park                  1202    1210 Old Port
1810    SA       Royal Park                  1202    1210 Old Port
3316    SA       Royal Park                  1202    1210 Old Port
...    ...              ...                   ...              ...
4481   TAS       LAUNCESTON  127-129 Wellington S             None
4482   NSW  WENTWORTH POINT     5 Footbridge Blvd             None
4483   NSW        FIVE DOCK  88-90 Great North Rd             None
4484   VIC         RICHMOND     176-178 Lennox St             None
4485   QLD        WESTCOURT       274 Mulgrave Rd             None

[4486 rows x 4 columns]

In [20]:
df_feed.sort_values(by="TenureName", ascending=False).TenureName

36                        WA- JANDAKOT - 1 Sabre Crescent
226      WA - YANGEBUP - 281 Beeliar Drive Yangebup ACC 1
2134      WA - YANCHEP - 105 (Lot 615) Lindsa Yanchep ACC
1062    WA - WINTHROP - 52 Hatherley Parade Winthrop A...
31        WA - WILLETTON - Unit 1, 25 Yampi Way Willetton
                              ...
415     ACT - BELCONNEN - Cnr. Nettlefold Street & Cou...
1354    ACT - BELCONNEN - 32 Totterdell Street Belconn...
221                    ACT - ACTON - North Road Acton ACC
2188    #SA - PARA HILLS - 1 Wilkinson Road Para Hills...
1134    #SA - MILE END - 46 Sir Donald Bradma MILE END...
Name: TenureName, Length: 2336, dtype: object