In [1]:
# avg 8 dollars a day for rege
import pandas as pd
import numpy as np

In [2]:
def per_route_cost(df):
    count = 0 
    p_route = df.Primary_route
    route_1 = df.Satellite_Route_1
    route_2 = df.Satellite_Route_2
    if p_route != 0:
        count = count + 1
    if route_1 != 0:
        count = count + 1
    if route_2 != 0:
        routes = route_2.split("/")
        count = count + len(routes)
    
    cost = df.sal_cost / count
    return cost, count

In [63]:
PATH = "D:\\Run Analysis\\blob_storage\\roster\\32th_2021.xlsx"
df = pd.read_excel(PATH)
df = df.dropna(subset=["Satellite_Route_2"])

(df
.apply(lambda x: x['Satellite_Route_2']
.split('/') if type(x['Satellite_Route_2']) == str else 0,axis=1)
.explode()
.value_counts()
.reset_index()
.rename(columns={"index" : "route", 0 : "counts"}) 
)

  index  0
0   RL6  3
1   RLP  2
2   RL5  1

        runs
index
BL82AG     4
BY46TO     5
CF48ED     2
CF71JM     5
CH32FV     2
CL02TB     4
CL98LU     5
CN41XN     5
CQ64LO     9
X062AB     1
XN06OJ     5
XN10HU     5
XN19IN     9
XN25GD     5
XN44QZ     6
XN52IJ     6
XN62UD     6
XN65IJ     7
XN70OD     7
XN71FD     4
XN72FD     1
XN72MK     5
XN75OS     6
XN76VB     2
XN80YD    13
XN81VB     5
XO62AB     2
XPL658     6