In [3]:
import pandas as pd
import numpy as np
import os

In [5]:
PATH = 'D:\\Run Analysis\\waste_reports\\current_waste_reports'
PATH_DATA = 'D:\Run Analysis\waste_reports\\Aug2021.csv'
df = pd.read_csv(PATH_DATA)
df

,Customer_Number,Address_1,General,Cardboard,Comingle,Organics
0,1345,100 Bayswater Road,8.80,6.60,NaN,NaN
1,1346,2 Lee Street,5.28,0.66,NaN,NaN
2,1347,55 Shelley Street,16.50,3.96,NaN,NaN
3,1547,183 Coogee Bay Rd,12.96,5.04,NaN,NaN
4,1683,22 Brookhollow Avenue,13.20,1.20,NaN,NaN
5,1870,69-73 Hall Street,9.36,NaN,NaN,NaN
6,3291,81 Talavera Rd,8.80,1.10,2.20,NaN
7,3293,75 Harrington St,9.90,4.40,0.48,NaN
8,3294,170 Reservoir Rd,6.00,3.00,0.48,NaN
9,3295,165 Phillip St,3.30,NaN,NaN,NaN
10,3296,27-33 Wentworth Ave,5.50,2.20,NaN,NaN
11,3297,7-9 York St,6.60,3.96,NaN,NaN
12,3299,4/10 Victor Rd,14.30,3.30,1.44,NaN
13,3303,111 Goulburn St,17.60,3.30,NaN,NaN
14,3464,100 Miller St,6.60,1.98,NaN,NaN
15,3590,359 Crown St,13.20,NaN,NaN,NaN
16,3909,148 The Esplanade,0.00,NaN,NaN,NaN
17,3992,45 Dooring St,12.00,NaN,1.32,NaN
18,4037,319-325 Sussex St,6.60,2.20,2.20,NaN
19,4231,1 Queen St,4.40,NaN,2.20,NaN
20,4308,17 Bourke Rd,81.18,27.72,1.32,NaN
21,4309,289 King St,6.60,4.40,NaN,NaN
22,4321,167 Macquarie Street,6.60,NaN,NaN,NaN
23,4322,1 Holyman Avenue,48.00,9.00,4.40,NaN
24,4323,36 Argyle Street,47.52,2.64,10.56,NaN
25,4326,74 Northbourne Avenue,150.00,0.72,15.02,NaN
26,4327,8 National Circuit,13.20,NaN,11.24,NaN
27,4328,11 Giles Street,10.56,0.72,2.64,NaN
28,4329,189 Queen Street,9.90,NaN,NaN,NaN
29,4330,88 Flinders Street,19.80,5.50,NaN,NaN
30,4332,328 Flinders Street,13.44,5.50,5.50,NaN
31,4333,66 Aurora Lane,9.00,NaN,3.30,NaN
32,4334,9 Riverside Quay,15.00,1.50,NaN,NaN
33,4335,630 Little Collins Street,13.20,NaN,7.92,NaN
34,4337,12 Steel Street,20.90,4.40,0.24,NaN
35,4370,1 Rogan St,7.70,3.30,1.10,NaN
36,4378,74-80 Ivy St,3.12,0.48,2.16,0.48
37,4399,289 King St,3.96,NaN,NaN,NaN
38,4457,185 Rosslyn Street,6.60,1.32,2.64,NaN
39,4472,509 Flinders Lane,5.28,1.98,1.32,NaN
40,4547,280 George Street,7.92,3.96,3.30,NaN
41,4581,99 City Road,2.64,NaN,1.98,NaN

0.16666666666666666

In [18]:
# os.fspath(PATH)
directory = os.scandir(PATH)
directory

In [15]:

filenames = list()


for d in directory:
    filenames.append(d.name)
    print(d.name)

# fileArr = np.array(filenames)
# fileArrs = np.char.split(fileArr, sep="_")
# fileArrs

1345_100 Bayswater Road.xlsx
1346_2 Lee Street.xlsx
1347_55 Shelley Street.xlsx
1547_183 Coogee Bay Rd.xlsx
1683_22 Brookhollow Avenue.xlsx
1870_69-73 Hall Street.xlsx
3291_81 Talavera Rd.xlsx
3293_75 Harrington St.xlsx
3294_170 Reservoir Rd.xlsx
3295_165 Phillip St.xlsx
3296_27-33 Wentworth Ave.xlsx
3297_7-9 York St.xlsx
3303_111 Goulburn St.xlsx
3464_100 Miller St.xlsx
3590_359 Crown St.xlsx
3909_148 The Esplanade.xlsx
3992_45 Dooring St.xlsx
4037_319-325 Sussex St.xlsx
4231_1 Queen St.xlsx
4308_17 Bourke Rd.xlsx
4309_289 King St.xlsx
4321_167 Macquarie Street.xlsx
4322_1 Holyman Avenue.xlsx
4323_36 Argyle Street.xlsx
4326_74 Northbourne Avenue.xlsx
4327_8 National Circuit.xlsx
4328_11 Giles Street.xlsx
4329_189 Queen Street.xlsx
4330_88 Flinders Street.xlsx
4332_328 Flinders Street.xlsx
4333_66 Aurora Lane.xlsx
4334_9 Riverside Quay.xlsx
4335_630 Little Collins Street.xlsx
4337_12 Steel Street.xlsx
4339_24 Mount Street.xlsx
4370_1 Rogan St.xlsx
4378_74-80 Ivy St.xlsx
4393_9 Alvan Street.xlsx
4399_289 King St.xlsx
4457_185 Rosslyn Street.xlsx
4472_509 Flinders Lane.xlsx
4547_280 George Street.xlsx
4581_99 City Road.xlsx

In [ ]:
os.listdir
filename.endswith

In [23]:
import xlwings as xw
import pandas as pd
import numpy as np
import os

cusNum_arr = list()
address_arr = list()
filePath_arr = list()

PATH_DIR_EXIST_REPORT = 'D:\\Run Analysis\\waste_reports\\current_waste_reports'

directory = os.scandir(PATH_DIR_EXIST_REPORT)


for file in directory:
    cusNum_addr = str.split(file.name, "_")
    cusNum_arr.append(cusNum_addr[0]) 
    address_arr.append(cusNum_addr[1])
    filePath_arr.append(file.name)

data = {'customer_number' : cusNum_arr, 'address': address_arr, 'file_path' : filePath_arr}

df = pd.DataFrame(data)
df

,customer_number,address,file_path
0,1345,100 Bayswater Road.xlsx,1345_100 Bayswater Road.xlsx
1,1346,2 Lee Street.xlsx,1346_2 Lee Street.xlsx
2,1347,55 Shelley Street.xlsx,1347_55 Shelley Street.xlsx
3,1547,183 Coogee Bay Rd.xlsx,1547_183 Coogee Bay Rd.xlsx
4,1683,22 Brookhollow Avenue.xlsx,1683_22 Brookhollow Avenue.xlsx
5,1870,69-73 Hall Street.xlsx,1870_69-73 Hall Street.xlsx
6,3291,81 Talavera Rd.xlsx,3291_81 Talavera Rd.xlsx
7,3293,75 Harrington St.xlsx,3293_75 Harrington St.xlsx
8,3294,170 Reservoir Rd.xlsx,3294_170 Reservoir Rd.xlsx
9,3295,165 Phillip St.xlsx,3295_165 Phillip St.xlsx
10,3296,27-33 Wentworth Ave.xlsx,3296_27-33 Wentworth Ave.xlsx
11,3297,7-9 York St.xlsx,3297_7-9 York St.xlsx
12,3303,111 Goulburn St.xlsx,3303_111 Goulburn St.xlsx
13,3464,100 Miller St.xlsx,3464_100 Miller St.xlsx
14,3590,359 Crown St.xlsx,3590_359 Crown St.xlsx
15,3909,148 The Esplanade.xlsx,3909_148 The Esplanade.xlsx
16,3992,45 Dooring St.xlsx,3992_45 Dooring St.xlsx
17,4037,319-325 Sussex St.xlsx,4037_319-325 Sussex St.xlsx
18,4231,1 Queen St.xlsx,4231_1 Queen St.xlsx
19,4308,17 Bourke Rd.xlsx,4308_17 Bourke Rd.xlsx
20,4309,289 King St.xlsx,4309_289 King St.xlsx
21,4321,167 Macquarie Street.xlsx,4321_167 Macquarie Street.xlsx
22,4322,1 Holyman Avenue.xlsx,4322_1 Holyman Avenue.xlsx
23,4323,36 Argyle Street.xlsx,4323_36 Argyle Street.xlsx
24,4326,74 Northbourne Avenue.xlsx,4326_74 Northbourne Avenue.xlsx
25,4327,8 National Circuit.xlsx,4327_8 National Circuit.xlsx
26,4328,11 Giles Street.xlsx,4328_11 Giles Street.xlsx
27,4329,189 Queen Street.xlsx,4329_189 Queen Street.xlsx
28,4330,88 Flinders Street.xlsx,4330_88 Flinders Street.xlsx
29,4332,328 Flinders Street.xlsx,4332_328 Flinders Street.xlsx
30,4333,66 Aurora Lane.xlsx,4333_66 Aurora Lane.xlsx
31,4334,9 Riverside Quay.xlsx,4334_9 Riverside Quay.xlsx
32,4335,630 Little Collins Street.xlsx,4335_630 Little Collins Street.xlsx
33,4337,12 Steel Street.xlsx,4337_12 Steel Street.xlsx
34,4339,24 Mount Street.xlsx,4339_24 Mount Street.xlsx
35,4370,1 Rogan St.xlsx,4370_1 Rogan St.xlsx
36,4378,74-80 Ivy St.xlsx,4378_74-80 Ivy St.xlsx
37,4393,9 Alvan Street.xlsx,4393_9 Alvan Street.xlsx
38,4399,289 King St.xlsx,4399_289 King St.xlsx
39,4457,185 Rosslyn Street.xlsx,4457_185 Rosslyn Street.xlsx
40,4472,509 Flinders Lane.xlsx,4472_509 Flinders Lane.xlsx
41,4547,280 George Street.xlsx,4547_280 George Street.xlsx
42,4581,99 City Road.xlsx,4581_99 City Road.xlsx